%h1 Explorer of Tick Data
.main-content
  .symbols-selection{'ng-controller' => 'SymbolsCtrl'}
    %ul
      %li{'ng-repeat' => "sy in symlist"}
        %button{'ng-click' => "selectInstrument(sy)", data: "{{sy}}"}
          {{sy.name}}
  {{sySelected.name}}
  .chart{'ng-controller' => 'ChartCtrl'}
    %form
      %input{type:'text', 'ng-model' => 'newEntry.name'}      
      {{newEntry.name}}
