%h1 Explorer of Tick Data
.main-content
  .symbols-selection{'ng-controller' => 'SymbolsCtrl'}
    %ul
      %li{'ng-repeat' => "sy in symlist"}
        %button{'ng-click' => "selectInstrument(sy)", data: "{{sy}}", 'ng-model' => "sySelected.name"}
          {{sy.name}}
  {{sySelected.name}}
  .chart{'ng-controller' => 'ChartCtrl'}
    #tickchart{style: "min-width: 310px; height: 400px; margin: 0 auto"}
