// Place all the styles related to the MarketData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content

.main-content
  position: relative
  height: auto

.symbols-selection
  float: left
  width: 15%

.chart
  float: left
  width: 80%

#tickchart
  min-width: 310px
  height: 400px
  margin: 0 auto
